* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}

h1,
.heading__h1 {
    color: #ffffff;
    font-size: 46px;
    line-height: 54px;
    font-weight: 300;
}

h2,
.heading__h2 {
    color: #0d253e;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
}

h4,
.card__title {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 4px 0;
}

.navbar__brand__logo {
    width: 132px;
    height: auto;
    text-align: center;
}

.hd-dark:hover {
    color: #1e88f5;
}

.hd-dark {
    color: #0d253e;
}

.paragraph__p {
    color: #0d253e;
    font-size: 22px;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 300;
    opacity: 0.4;
    line-height: 1.36;
}

.btn {
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 20px 39px;
}

.btn-primary {
    background-color: #1e88f5;
    color: #fff;
}

.btn-secondery:hover {
    box-shadow: 0 0 20px 0 rgba(254, 203, 1, 0.4);
}

.btn-primary:hover {
    box-shadow: 0 0 30px 0 rgba(30, 136, 245, 0.4);
}

.btn-secondery {
    background-color: #ffcc01;
    color: #fff;
}

.navigation {
    display: block;
}

.nav-toggle-label {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 32px;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle:checked~nav {
    display: block;
}

.navbar {
    padding: 40px 40px;
    text-align: right;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.navbar .navbar__navlinks {
    padding: 40px 0;
    display: inline-block;
}

.navbar .navbar__navlinks li {
    display: inline-block;
    margin: 0 57px 0 0;
    color: #fff;
}

.nav__link:hover {
    color: black;
}

.nav__link {
    font-size: 18px;
    text-shadow: 30px;
    color: #fff;
    letter-spacing: 1px;
}

.navbar__brand__logo {
    float: left;
}

.navbar .navbar__btn {
    margin: 20px 0;
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.banner__image {
    position: relative;
    height: 630px;
    width: auto;
    background: linear-gradient(to bottom, #18324ed6, rgba(24, 79, 136, 0.3)),
        url("https://live.staticflickr.com/65535/52347598683_bc3cb9b567_h.jpg");
    background-size: cover;
}

.hero__text__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hero__text__middle .heading__h1--title {
   
    margin: 0 0 57px 0;
}

.text-center {
    text-align: center;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    text-align: center;
}

.card__image:hover svg {
    background-color: #1e88f5;
    fill: #fff;
}

.circle:hover {
    background-color: #1e88f5;
}

.crkl-light {
    background-color: #e8edf2;
}

.card__items {
    width: calc(100% / 3);
    float: left;
    list-style: none;
    text-align: center;
    margin-top: 93px;
}

.cards {
    padding: 131px 20px 93px;
    max-width: 1200px;
    margin: 0 auto;
}

.card__image {
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 33px;
}

.card__items svg {
    height: auto;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgd {
    margin: 0 0 150px 0;
    position: relative;
}

.bgd-img {
    height: 645px;
    width: 100%;
    background: url("https://img4.goodfon.com/wallpaper/nbig/e/56/london-england-30-st-mary-axe-the-gherkin-london-angliia-neb.jpg") no-repeat center/cover;
    
}

.bgd__wrapper {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}

.bgd__box {
    max-width: 660px;
    height: 230px;
    text-align: left;
    background-color: #fff;
    margin: 0 20px 20px 0;
    padding: 50px 50px;
    box-shadow: 0 0 60px 10px rgba(13, 37, 62, 0.1);
}

.cnt-left {
    text-align: left;
    margin: 21px 0 0 0;
}

.bgd__box:nth-child(3) {
    margin-bottom: 0;
}

.bgd-content {
    padding-top: 220px;
    margin-bottom: 20px;
}

.bgd__left_content {
    margin: 0 0 30px 0;
}

.posters {
    text-align: center;
    margin: 0 0 95px 0;
    border-bottom: solid 1px #eeeeee;
}

.subhead {
    margin: 19px 0 0px 0;
}

.posters__box {
    font-size: 0;
    height: auto;
    padding: 0 0 60px 0;
    border-radius: 4px;
    box-shadow: 0 20px 60px 10px rgba(13, 37, 62, 0.05);
    border: solid 1px #eee;
    width: calc((100% - 40px) / 2);
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.posters__heading {
    margin-bottom: 95px;
}

.posters__priceitem {
    padding: 56px 0px 27px 0px;
    color: #fff;
    text-align: center;
}

.bg-primary {
    box-shadow: 0 2px 30px 0 rgba(30, 136, 245, 0.3);
    background-color: #1e88f5;
}

.bg-secondery {
    box-shadow: 0 2px 30px 0 rgba(255, 204, 1, 0.3);
    background-color: #ffcc01;
}

.posters__price__tag {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.topic {
    letter-spacing: 6px;
}

.posters__priceunit {
    font-size: 14px;
    vertical-align: middle;
}

.bx-fnt {
    
    font-size: 0;
}

.posters__paymode {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    margin: 25px 0 0 0;
    text-align: center;
}

.posters__lists {
    padding: 34px 20px 30px 60px;
}

.posters__lists li {
    position: relative;
    padding-left: 40px;
}

.posters__box .posters__lists,
ul {
    text-align: left;
    list-style: none;
}

.posters__lists--items {
    margin:  0 0 34px 0;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}

.right .posters__lists li:before {
    content: url("tick.svg");
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    margin-right: 30px;
    font-size: 30px;
}

.left .posters__lists li:before {
    content: url("tickbl.svg");
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    margin-right: 30px;
    font-size: 30px;
}

.left {
    margin-right: 40px;
}

.card__items .card__image a::after {
    content: url("plus-circle-twotone.svg");
    stroke: #0d253e;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 110px;
}

.bg-circle {
    position: absolute;
}

.foot__content {
    width: auto;
    background-color: #fff;
}



.foot__list {
    float: right;
    width: 80%;
    padding: 0 20px 0 0;
}

.foot__list li {
    width: 20%;
}

.foot__list .column {
    display: inline-block;
}

.column a {
    white-space: nowrap;
    text-decoration: none;
    font-weight: 500;
    padding: 0 15px;
    color: #0d253e;
    opacity: 25%;
    font-size: 18px;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.foot__logo {
    float: left;
    width: 20%;
    height: auto;

}

.foot__link:hover {
    color: black;
    opacity: 0.6;
}

@media screen and (max-width: 1024px) {

    h1,
    .heading__h1 {
        font-size: 30px;
        line-height: 35px;
       
    }
    .hero__text__middle .heading__h1--title {
        
        margin: 0 0 47px 0;
    }


    h2,
    .heading__h2 {
        font-size: 30px;
    }

    h4,
    .card__title {
        font-size: 22px;
    }

    .paragraph__p {
        font-size: 18px;
        line-height: 1.0;
    }
   
    .btn {
        letter-spacing: 1px;
        font-size: 17px;
        padding: 10px 29px;
    }

    .card__items {
        width: calc(100% / 2);
    }
    .poster__cards:nth-last-child(1) {
        width: 100%;
    }

    .posters__box {
        width: calc(100% - 40px);
        display: inline-block;
        padding: 0 0 40px 0;
    }
    .posters__priceitem {
        padding: 36px 0px 17px 0px;
    }
    

    .right {
        max-width: 550px;
    }

    .left {
        max-width: 550px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    
    .bgd-content {
        text-align: center;
        padding-top: 20px;
    }

    .bgd__box {
        max-width: 660px;
        height: 180px;
        margin: 0 10px 20px 50px;
        padding: 30px;

    }
    .bgd__wrapper {
        position: relative;
        width: 100%;
        top: 35%;
        padding: 0 120px 0 120px;
    }


    .bgd-img {
        height: 845px;

    }

    .posters__price__tag {
        font-size: 50px;

    }

    .topic {
        letter-spacing: 4px;
    }

    .posters__priceunit {
        font-size: 12px;

    }

    .column {
        width: calc(100% / 2);
        margin: 0 20px;
    }

    .column a {
        padding: 0 18px;
        opacity: 20%;
        margin: 0 90px 20px 0;
    }
    .nav-toggle-label {
        display: block;
    }

    .navigation {
        display: none;
    }
}


@media screen and (max-width: 768px) {

  

    .hero__text__middle .heading__h1--title {
        margin: 0 0 37px 0;
    }

    h2,
    .heading__h2 {
        font-size: 28px;
    }

  

    .btn {
        letter-spacing: 1px;
        font-size: 10px;
        padding: 10px 12px;
    }


    .card__items {
        width: 100%;
        margin-top: 60px;
    }

    .posters__box {
        width: calc(100% - 40px);
        display: inline-block;
    }

    .right {
        max-width: 450px;
    }

    .left {
        max-width: 450px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

   

    .posters__price__tag {
        font-size: 40px;
    }

    .topic {
        letter-spacing: 4px;
    }

    .posters__priceunit {
        font-size: 10px;

    }

    .column {
        width: calc(100% / 2);
        margin: 0 20px;
    }

    .column a {
        font-size: 18px;
        padding: 0 18px;
        opacity: 20%;
        margin: 0 80px 20px 0;
    }

    .foot__list .column {
        display: block;
    }

    .bgd__wrapper {
        
        padding: 0 20px 0 20px ;
    }

    .foot__list {
        float: none;
    }

    .bgd-img {
        height: 845px;

    }

    .bgd-content {
        text-align: center;
        padding-top: 20px;
    }

    .bgd__box {
        max-width: 660px;
        height: 180px;
        margin: 0 20px 20px 20px;
        padding: 30px;

    }

    .foot__logo {

        width: 160px;
        height: 50px;
        margin-left: 40px;

    }

    .posters__lists {
        padding: 20px 20px 20px 20px;

    }

    .posters__lists--items {
        font-size: 18px;
    }

}